<div class="container">
    <div class="row justify-content-center spacing-top">
        <div class="col-md menu">
            <div class="text-center">
                <img src="../../assets/Gawr_Gura.png" class="rounded-circle border-dark pic" alt="Gura">
            </div>
                <a class="navlink" routerLink="info" routerLinkActive="active">
                    Thông tin
                </a>
                <a class="navlink" routerLink="change-password" routerLinkActive="active">
                    Đổi mật khẩu
                </a>
            </div>
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
