<div class="bg-light p-5 rounded">
    <form class="passform" [formGroup]="passForm" (ngSubmit)="changePass()">
        <div class="form-group mb-3">    
          <input formControlName="oldpass" type="password" class="form-control border-light" id="oldpassword" aria-describedby="Mật khẩu cũ" placeholder="Mật khẩu cũ">
        </div>
        <div class="form-group mb-3">
          <input formControlName="newpass" type="password" class="form-control border-light" id="newpassword" placeholder="Mật khẩu mới">
        </div>
        <div class="form-group mb-3">
          <input formControlName="repass" type="password" class="form-control border-light" id="confirmpassword" placeholder="Nhập lại mật khẩu mới">
        </div>
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="!passForm.valid">Đổi mật khẩu</button>
        <div *ngIf="changeError" class="change-error">{{changeError}}</div>
    </form>
</div>