.passform {
    max-width: 400px;
}

.form-control {
    font-size: 1rem;
}

input {
    color: black;
    border: 1px solid black !important;
}

input:focus {
    color: black;
    outline: 1px solid black;
}

.change-error {
    font-size: 16px;
    color: red;
    font-family: 'Courier New', Courier, monospace;
}