<div class="container login border border-primary rounded p-4">
  <div *ngIf="successMessage">{{successMessage}}</div>
  <div *ngIf="errorMessage">{{errorMessage}}</div>
  <form 
    name="form"
    *ngIf="!isSuccessful && !errorMessage"
    (ngSubmit)="f.form.valid && onSubmit()"
    #f="ngForm">
    <div class="form-group">
      <label for="InputUsername">Tên tài khoản</label>
      <input type="text" 
        name="username"
        class="form-control" 
        id="InputUsername" 
        aria-describedby="usernameHelp" 
        placeholder="Nhập tên tài khoản"
        [(ngModel)]="form.username"
        #username="ngModel"
        required>
    </div>
    <div class="form-group">
      <label for="InputEmail">Email</label>
      <input type="email" 
        name="email"
        email
        class="form-control" 
        id="InputEmail" 
        aria-describedby="emailHelp" 
        placeholder="Nhập Email"
        [(ngModel)]="form.email"
        #email="ngModel"
        required>
    </div>
    <div class="form-group">
      <label for="InputPassword">Mật khẩu</label>
      <input type="password" 
        name="password"
        class="form-control" 
        id="InputPassword" 
        placeholder="Nhập Mật khẩu"        
        [(ngModel)]="form.password"
        #password="ngModel"
        required>
    </div>    
    <div class="form-group">
      <label for="InputPassword2">Xác nhận lại mật khẩu</label>
      <input type="password" 
        name="confirmpassword"
        class="form-control" 
        id="InputPassword2" 
        placeholder="Nhập lại Mật khẩu"        
        [(ngModel)]="form.comfirmPass"
        #confirmpass="ngModel"
        required>
    </div>
    <div class="text-center mt-4">
      <button type="submit" class="btn btn-primary">Đăng ký</button>
    </div>
    <a routerLink="../register" class="">Đăng nhập</a>
  </form>
</div>