
<div class="container space mb-3">
    <div class="row justify-content-between ">       
        <div class="col-lg-3 col-sm-12">      
            <div>   
                <div class="rounded mt-3 p-3 bg-light">
                    PIN: {{roomDetail.pinCode}}
                </div>           
                <button *ngIf="roomDetail.isOpen && !roomDetail.isStart" class="btn btn-sm btn-success mt-3 w-100" (click)="start()">                   
                    Bắt đầu
                    <i class="material-icons">
                        play_arrow
                    </i>
                </button>
                <button class="btn btn-sm btn-danger mt-3 w-100">
                    <span>
                        Đóng phòng
                        <i class="material-icons">
                            close
                        </i>
                    </span>
                </button>          
            </div>  
        </div>         
        <div class="col-lg-9 col-md-12">
            <div class="bg-light p-4 rounded mt-3">
                <div class="d-flex justify-content-between">
                    <h3 class="text-dark">{{roomDetail.name}}</h3>
                </div>
                <div class="d-flex align-item-center">                
                    <div class="material-icons text-dark" [style]="{'cursor': 'default'}">alarm</div>
                    <div class="time">{{roomDetail.time}}</div>
                </div>
            </div>
            
            <div *ngFor="let guest of guests">
                <div class="d-flex justify-content-between score-line">
                    <div class="score">{{guest.name}}</div>
                    <div class="score">{{guest.score}}</div>
                </div>
            </div>
            
            <div class="d-flex justify-content-between score-line">
                <div class="score">abc</div>
                <div class="score">0</div>
            </div>
        </div>
        <div>
        </div>
    </div>
</div>
  