.space {
    margin-top: 10vh;
    height: auto;
  }

.time {
    font-size: 24px;
    line-height: 1;
  
}

div {
    color: black;
}

i {
    font-size: 16px;
}

.score-line {

}

.score {
    color: white;
    font-size: 2rem;
    margin: 1rem
}