
<div class="container">
    <div class="text-center space">
        <h3>Tạo phòng mới</h3>
    </div>
    <div class="row justify-content-center">       
        <!-- <div class="col-3"> -->
            <!-- <pagination-template #p="paginationApi"
                id="listing_pagination"
                (pageChange)="currentpage = $event"
                [maxSize]="100"
                class="d-flex flex-wrap">
                <div *ngFor="let page of p.pages" [class.current]="p.getCurrent() === page.value">
                    <button class="paginate rounded bg-light" (click)="p.setCurrent(page.value)" *ngIf="p.getCurrent() !== page.value">
                        <span>{{ page.label }}</span>
                    </button>
                    <button class="paginate-current rounded" *ngIf="p.getCurrent() === page.value">
                        <span>{{ page.label }}</span>
                    </button>
                </div>    
            </pagination-template> -->
        <!-- </div>          -->
        <div [formGroup]="roomForm" class="col-lg-9 col-sm-12">
            <div #quizzName class="bg-light p-4 rounded">
                <div class="" *ngIf="editName; else notEdit">
                    <!-- <div class="d-flex justify-content-between"> -->
                        <textarea 
                            autosize
                            #editQuizzNameInput
                            formControlName="name"
                            class="col-12 text-dark title p-0"  
                            placeholder="Nhập tên" 
                            wrap="hard"
                            rows=1
                            [(ngModel)]="quizz.name"
                            (focusout)="doneEditing()"></textarea>
                        <!-- <span class="material-icons md-18 text-green" [style]="{'cursor': 'pointer'}" (click)="doneEditing()">done</span> -->
                    <!-- </div> -->
                </div>
                <ng-template #notEdit>
                    <div class="d-flex justify-content-between" (dblclick)="editQuizzName()">
                        <div class="editable title">{{quizz.name || "Nhập tên"}}</div>
                        <span class="material-icons md-18 text-dark" [style]="{'cursor': 'pointer'}" (click)="editQuizzName()">edit</span>
                    </div>
                </ng-template>
                <div formControlName="time" class="d-flex align-item-center">                
                    <div class="material-icons text-dark" [style]="{'cursor': 'default'}">alarm</div>
                    <input type="number" class="text-dark" formControlName="time"/>
                </div>
            </div>
            <div formArrayName="quizs">
                <!-- <div *ngFor="let quiz of quizs.controls |  paginate: {id: 'listing_pagination', itemsPerPage: 1, currentPage: currentpage } ; let i = index " class=" bg-light p-4 rounded mt-3"> -->
                    <div *ngFor="let quiz of quizs.controls; let i = index " class=" bg-light p-4 rounded mt-3">    
                    <div [formGroupName]="i">
                        <div class="d-flex justify-content-between align-item-center mb-3">
                            <div class="text-dark quiz-number">
                                Câu {{currentpage}}
                            </div>                            
                            <span class="material-icons md-18 text-dark" [style]="{'cursor': 'pointer'}" (click)="removeQuiz(i)">clear</span>
                        </div>
                            <div class="mb-3">
                                <input type="text" class="form-control text-dark input-lg" formControlName="content" placeholder="Câu hỏi">
                            </div>
                            <div formArrayName="alist">
                                <div *ngFor="let answer of thing; let j = index">                        
                                    <div class="d-flex mb-3" [formGroupName]="j">
                                        <input type="checkbox" class="mr-4" formControlName="isCorrect"/>
                                        <input type="text" class="form-control text-dark" formControlName="answer">
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-light mt-3" (click)="submit()">
                <span class="material-icons md-18 text-success">done</span>
            </button>
            <button class="btn btn-sm btn-light mt-3" (click)="addQuiz()">
                <span class="material-icons md-18 text-success">add</span>
            </button>
        </div>
    </div>
</div>
  