

<div class="area" >
    <ul class="circles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
    </ul>
</div >
<div class="context">
    <div *ngIf="!quizzStart && !quizzEnd">
        <div class="container top-space">            
            <!-- <div class="countdown mt-5">
                Đang chuẩn bị
            </div> -->
            <div class="loader"></div>
        </div>
    </div>
    <div class="container" *ngIf="!quizzEnd && !showScore">
        <div class="row">
            <div class="col p-5 d-flex justify-content-between">
                <div class="timer">
                    <!-- {{timeLeft}} -->
                </div>
            </div>
        </div>        
        <div class="" *ngIf="!quizzStart">
            <div class="countdown">
                {{countdown}}
            </div>
        </div>    
        <div class="row m-5" *ngIf="myQuizz != null">        
            <div class="col d-flex justify-content-center align-middle">
                <h1>{{myQuizz.content}}</h1>
            </div>
        </div>
        <div class="row d-flex justify-content-center p-4 m-2">
            <div class="col-6 d-flex justify-content-center p-1" *ngFor="let answer of myQuizz.alist">
                <div class="answer">                
                    <button type="button" 
                        class="btn btn-info btn-block h-100 w-100 answer-button"
                        (click)="choose(answer)"
                        [ngClass]="(answer.id != choosenAnswer && choosenAnswer != null) ? 'disabled' : ''"
                        >{{answer.answer}}</button>
                </div>
            </div>
        </div>
        
        <!-- <div class="progress" *ngIf="myQuizz.time>0">
            <div id="progress" class="progress-bar progress-bar-striped bg-success" 
                role="progressbar" [style]="{'width': (timeLeft/myQuizz.time)*100 + '%'}"
                aria-valuemin="0"
                aria-valuemax="100"></div>
        </div> -->
    </div>
    <div *ngIf="quizzEnd">
        <div class="container">            
            <div class="countdown mt-5">
                Kết thúc!
            </div>
        </div>
    </div>
    <div *ngIf="showScore">
        <div class="container top-space">            
            <div class="score-personal mt-5">
                Điểm của bạn: {{personalScore.score}}
            </div>       
            <div class="score">Bảng xếp hạng</div>
            <div *ngFor="let player of leaderBoard; let i = index">
                <div class="d-flex justify-content-between score-line">
                    <div class="score">{{i + 1}}</div>
                    <div class="score">{{player.name}}</div>
                    <div class="score">{{player.score}}</div>
                </div>
            </div>
        </div>
    </div>        
</div>
