<nav id="navbar" class="nav pt-2 pl-5 pr-5 mb-5 fixed-top" 
  color-on-scroll="100" id="navbar-top" [ngClass]="{'pink': opacity===1}">
    <a class="nav-link active" routerLink="home" id="brand" 
      [ngStyle]="{'opacity': isHome ? opacity : 1}">KahootReal</a>
  <!-- <a class="nav-link" href="#">Link</a>
  <a class="nav-link" href="#">Link</a>
  <a class="nav-link disabled" href="#">Disabled</a> -->
  <div class=" ml-auto">
    <div class="collapse navbar-collapse">
      <a class="btn btn-outline-primary ml-auto btn-sm" routerLink="user">
        Account
      </a>
      
      <a class="btn btn-outline-primary btn-sm ml-4" routerLink="register">
        Đăng ký
      </a>
    </div>
    <img src="../../../assets/Gawr_Gura.png" class="rounded-circle avatar mb-2" routerLink='/user'/>
  </div>
</nav>