<div class="index-page">
    <div class="wrapper">
        
        <div class="page-header header-filter">
            <div>
                <div class="row">
                    <div class="col-lg-6 col-sm-12 text-center p-5 m-auto" style="height: 100vh;">
                        <div class="bigboi">KahootReal</div>
                        <input placeholder="Mã phòng" [(ngModel)]="roomId" class="form-control bg-secondary text-dark" type="text"/>
                        <input placeholder="Tên" [(ngModel)]="name" class="form-control bg-secondary text-dark mt-3" type="text"/>
                        <button *ngIf="!loading; else notLoad" class="btn btn-primary m-4 start" (click)="navigateToRoom()">Bắt đầu</button>
                        <ng-template #notLoad class="spinner-border text-info" role="status">
                            <span class="visually-hidden">Loading...</span>
                        </ng-template>
                        <div *ngIf="validate" class="h4 text-danger">{{validate}}</div>
                    </div>
                </div>
                <!-- <div class="row bg-secondary p-5 rounded mt-3">
                    <div class="col-3 d-flex flex-column">
                        <img src="../../assets/Gawr_Gura.png" classs="rounded"/>
                        <button class="btn btn-primary" routerLink='/create-quizz'>Tạo câu hỏi</button>
                    </div>
                </div>
                <div class="row bg-success p-5 rounded mt-3">
                    <div class="col text-center">
                        <img src="../../assets/Gawr_Gura.png" classs="rounded"/>
                        <input placeholder="Room Id" class="form-control" type="text"/>
                        <button class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div> -->
            </div>
          <!-- <div class="squares square1"></div>
          <div class="squares square2"></div>
          <div class="squares square3"></div>
          <div class="squares square4"></div>
          <div class="squares square6"></div>
          <div class="squares square7"></div> -->
    </div>
    </div>
</div>