@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

.bigboi {
    font-size: 8.5vw;
    font-family: 'Architects Daughter', cursive;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
}

.index-page {
    height: 90vh;
    overflow: hidden;
}

input {
    font-size: 2rem;
    text-align: center;
    height: 4rem;
    font-family: 'Architects Daughter', cursive;
}

.start {
    font-size: 2rem;
}