


<div class="index-page">
    <div class="wrapper">
        
        <div class="page-header header-filter">
            <div>
                <div class="row pt-5">
                    <div class="col-8 text-center p-5 m-auto" style="height: 100vh;">
                        <div class="bigboi">KahootReal</div>
                        <input placeholder="Mã phòng" class="form-control bg-secondary text-dark" type="text"/>
                        <button class="btn btn-primary m-4" routerLink="/quizz/1">Bắt đầu</button>
                    </div>
                </div>
                <div class="row bg-secondary p-5 rounded mt-3">
                    <div class="col-3 d-flex flex-column">
                        <img src="../../assets/Gawr_Gura.png" classs="rounded"/>
                        <button class="btn btn-primary" routerLink='/create-quizz'>Tạo câu hỏi</button>
                    </div>
                </div>
                <div class="row bg-success p-5 rounded mt-3">
                    <div class="col text-center">
                        <img src="../../assets/Gawr_Gura.png" classs="rounded"/>
                        <input placeholder="Room Id" class="form-control" type="text"/>
                        <button class="btn btn-primary">Tìm kiếm</button>
                    </div>
                </div>
            </div>
          <div class="squares square1"></div>
          <div class="squares square2"></div>
          <div class="squares square3"></div>
          <div class="squares square4"></div>
          <div class="squares square5"></div>
          <div class="squares square6"></div>
          <div class="squares square7"></div>
    </div>
    </div>
</div>